body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("planet.png");
    background-size: 800px 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 160% 80%;
    background-color: rgba(68, 184, 74, 0.473);}

h1 {font-size:40px;
    background-color: #ecfde2;
    color: rgb(66, 147, 103);
    border: 2px solid rgb(0, 0, 0);
    padding: 20px 20px 20px 20px;
    text-align: center;}

h2{ font-size:30px;
    padding: 0px 0px 0px 20px;
    text-align: center;}

p{  color: rgb(7, 82, 53);
    border: 2px solid rgb(156, 206, 178);
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item { 
    padding: 30px 25px 0px 18px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background: #ecfde2;
    width: 280px;
    height: 170px;
    border-radius: 10%;
    align-items: center;
}


.image {
    padding: 0px 80px 20px 18px;
    float:right;
    width:250px;
    height:180px;
    display: inline-block;
}

.image2 {
    padding: 0px 80px 20px 18px;
    float:right;
    width:700px;
    height:700px;
    display: inline-block;
}

.collapsible {
    background-color: rgb(41, 129, 91);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: 2px solid white;
    text-align: center;
    outline: none;
    font-size: 15px;
    align-items: center;
    
}

.active, .collapsible:hover {
    background-color: rgb(113, 166, 149);
}

.content {
    padding: 10px 18px 20px 18px;
    display: center;
    overflow: hidden;
    background-color: #ecfde2;
    width: 50%;
    align-items: center;
}
